.bg-grey {
    background-color: #a7a7a7 !important;
}

.upperdiv {
    height: 15%;
    width: 100%;
    padding: 0.5rem 0.5rem;
    /* background-color: #505050; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0)), url(../imgs/header/header_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.0rem;
    color: #ffffff;
    /* vertical-align: top; */
}