/*
Connor Steele's Website CSS stylesheet
*/

/*** General Styles ***/

h1 {
    width: 95%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    width: 95%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    width: 95%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
    width: 85%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    text-decoration: underline;
    color: yellowgreen;
}

div.photo {
    width: 85%;
    margin: auto;
}

img.grid {
    width: 300px;
}

/*** Blog Styles ***/

div.blog {
    width: 75%;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

p.blog {
    width: 100%;
}

h1.blog {
    color: black;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

a.blog {
    color: yellowgreen;
    text-decoration: none;
}

a.blog:hover {
    color: yellowgreen;
    text-decoration: underline;
}

a.blog:active {
    color: whitesmoke;
}