---
---

@import "{{ site.theme }}";
body {
        background-color: #1a1a1a;
}
.page-header {
    color: whitesmoke;
    text-align: center; 
    background-color: #159957; 
    background-image: linear-gradient(130deg, #228da2, #9623a8);
    h1 {
        color: white;
    }
}
@media screen and (min-width: 64em) { .page-header { padding: 3rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .page-header { padding: 3rem 4rem; } }
@media screen and (max-width: 42em) { .page-header { padding: 2rem 1rem; } }

.main-content {
    text-align: center;

    // All Large Headers
    h1, h2, h3, h4 {
        color: white;
    }

    // Text Links
    a {
        color: #228da2;
    }

    // Images
    .img-icon { 
        max-width: 5%;
        min-width: 5%;
    }
    .img-portrait {
        max-width: 30%; 
    }
      
}


#home-video {
    max-width: 1280px; /* Set a maximum width for the video */
    max-height: 720px;
    margin: 0 auto; /* Center the video horizontally */
    border: 2px solid #0074d9; /* Add a border around the video */
    border-radius: 5px; /* Round the corners of the video */
  }
  

.button-scroll {
    /* Add your custom styles here */
    background-color: #9623a8; /* Change to your desired button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    /* Center-align the button horizontally */
    display: block;
    margin: 0 auto;
    cursor: pointer;
}